<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center text-center">
  <div class="d-flex justify-content-between">

    <div class="card" style="width: 25rem;">
      <h2 class="card-title">Hello! {{ game.playerName }}!</h2>
      <img [src]="game.cocktail.strDrinkThumb" alt="Cocktail Image" class="card-img-top"/>
      <div class="card-body">
          <div class="game-container" *ngIf="game">


            <h5>Attempts left: {{ game.attemptsLeft }}</h5>
            <h5>Score: {{ game.score }}</h5>
            <h5>Guess the cocktail: {{ game.currentGuess }}</h5>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
              </div>
                <input type="text" class="form-control" [(ngModel)]="guess" name="guess" />
                <button class="btn btn-success" (click)="submitGuess()">Send</button>
              </div>
          </div>
      </div>
    </div>


    <div class="leaderboard-container card" style="width: 25rem;">
      <div class="card-body ">
        <h5 class="card-title ">Leaderboard</h5>
        <ul>
          <li *ngFor="let player of leaderboard">
            {{ player.name }}: {{ player.score }}
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="m-5">
  <button class="btn btn-light" (click)="returnToHome()">Return to Home</button>
  <router-outlet></router-outlet>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="gameOverModal" tabindex="-1" aria-labelledby="gameOverModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gameOverModalLabel">Game Over</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You lost! The correct answer was: {{ game.cocktail.strDrink }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="startGame()">Try Again</button>
      </div>
    </div>
  </div>
</div>
